@import "tailwindcss";

/* Fonts */

.afacad-flux-thin {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.afacad-flux-extralight {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.afacad-flux-light {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.afacad-flux-regular {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 362;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.afacad-flux-medium {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.afacad-flux-semibold {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.afacad-flux-bold {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 724;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.afacad-flux-extrabold {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.afacad-flux-black {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* Pompiere */

.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Lato */

.lato {
  font-family: "Lato", sans-serif;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Add this to your CSS file */
.gradient-underline {
  position: relative;
  display: inline-block;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, rgba(94,234,212,1), rgba(15,118,110,0.4)); /* teal-300 to teal-600 @ 40% opacity */
  border-radius: 4px;
  z-index: 1;
}